__pycache__/*
.efficient_test/
pretrain
zerowaste_logs
boundary_ppts.pdf
spectralwaste_logs
COSNet.pdf
original_arch_spectralwaste_logs
arch.md
original_arch_zerowaste_logs
result_models
models/__pycache__
paper
