__pycache__/*
.efficient_test/
pretrain/*
original_arch_spectralwaste_logs
original_arch_zerowaste_logs
result_models
models/__pycache__
paper
*.pth
zerowaste_logs/ablations
ablation_eval.py
run_ablation_train.sh
